<html>
    <head>

    </head>
    <body>
       
<center>
            <h1>Confirmation</h1>


            <h3>Are your sure you want to post this</h3>
        

            <table align="center">
                <thead >
                    <tr>
                        <th width=200>
                            Name
                        </th>
                        <th width=200>
                            Message
                        </th>
                    </tr>
                </thead>
                <tr align="center">
                    <td id="Name">{{ nameName }}</td>
                    <td id="Status">{{ statusStatus }}</td>
                </tr>
            </table>
        </center>
        <center>
            <br><br><br>
            <form class="status-form" method="POST">
                {% csrf_token %}
                <button type="submit" class="save btn btn-primary" id="Submited">Submit</button>
                <button type="cancel" name="cancel" class="cancel btn btn-danger">Cancel</button>
            </form>
    </center>
   
    </body>
</html>