<html>
    <head>

    </head>
    <body>
    <center>Hello<br>Please Insert Your Name and Status!</center>  
    <form class="status-form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Status</label><br>
            {{status}}<button type="submit" class="save btn-primary" id="presss">Submit</button>
        </div>
        
    
    <center><div class="Target">
        <br>Previous Status:
        <table border=1>
            <tr class="Target"><td>Name</td><td>Status</td></tr>
        {% for data in Data%}
        <tr class="Target"><td>{{data.userName}}</td><td>{{data.userStatus}}</td></tr>
        {% endfor %}
        </table>   
    </center>
    </div>
    <button onclick="change()">Change Color</button>
    </form>
    </body>
    <script>
        function change(){
                var x=document.getElementsByClassName("Target");
                var i;
                for (i=0;i<x.length;i++){x[i].style.color="red"}
        }
    </script>
</html>